<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="defaultServiceProcessor" class="com.pay.DefaultServiceProcessor"/>
    <bean id="alipayNotifyService" class="com.pay.service.AlipayNotifyService"/>
    <bean id="wxPayNotifyService" class="com.pay.service.WxPayNotifyService"/>

</beans>